@font-face {
    font-family: 'PressStart2P';
    src:
      local('PressStart2P'),
      url(./PressStart2P.woff2) format('woff2');
    font-weight: 400;
  }
  
  @font-face {
    font-family: Inter-Variable;
    src:
      local('Inter-Variable'),
      url(./Inter-Variable.woff2) format('woff2 supports variations'),
      url(./Inter-Variable.woff2) format('woff2-variations');
    font-weight: 100 900;
  }