:root.theme-dark {
  --color-main: var(--light-green);
  --color-text: var(--light-green);
  --color-text-botton: var(--light-green);
  --color-icon-a: var(--light-green);
  --color-icon-b: var(--black);
  --color-text-shadow: var(--black);

  --color-border: var(--light-green);
  --accent-color: rgba(var(--rgb-green), 0.6);

  /*!* Иконка сердца *!*/
  --color-heart-contour: var(--light-green);

  --color-gradient-line: var(--black);
  --color-gradient-start: var(--green);
  --color-gradient-end: var(--dark-green);

  --background-color-card: var(--black);
  --background-color-button-a: var(--black);
  --background-color-button-b: var(--light-green);
  --backround-color-page: var(--black);

  --border: 2px solid var(--color-main);
  --outline: 2px solid var(--color-main);
}

@media (prefers-color-scheme: dark) {
  /* theme-auto  */
  :root.theme-auto {
    --color-main: var(--light-green);
    --color-text: var(--light-green);
    --color-text-botton: var(--light-green);
    --color-icon-a: var(--light-green);
    --color-icon-b: var(--light-green);
    --color-text-shadow: var(--black);

    --color-border: var(--light-green);
    --accent-color: rgba(var(--rgb-green), 0.6);

    /*!* Иконка сердца *!*/
    --color-heart-contour: var(--light-green);

    --color-gradient-line: var(--black);
    --color-gradient-start: var(--green);
    --color-gradient-end: var(--dark-green);

    --background-color-card: var(--black);
    --background-color-button-a: var(--black);
    --background-color-button-b: var(--light-green);
    --backround-color-page: var(--black);

    --border: 2px solid var(--color-main);
    --outline: 2px solid var(--color-main);
  }
}