/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 696px;
  min-block-size: 100dvb;
  margin-inline: var(--margin-inline-page);
  margin-block: var(--margin-block-page);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family-main);
  font-size: var(--font-size-medium);
  font-variation-settings: var(--font-weight-text);
}

@media (width > 1440px) {
  .page {
    margin-inline: auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  min-height: var(--min-height-card);
  margin-block-end: var(--margin-block-page);
  border: var(--border);
  background-color: var(--background-color-card);
  font-family: var(--font-family-accent);
}

.header__title {
  font-size: var(--font-size-huge);
}

.header__paragraph {
  font-size: var(--font-size-large);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 50px;
}

.card {
  overflow-x: hidden;
  min-inline-size: 371px;
  max-inline-size: 696px;
  border: var(--border);
  background-color: var(--background-color-card);
}

.card__title {
  padding: 4px 10px;
  font-size: var(--font-size-medium);
}

.image-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}

.image-wrap__label {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: var(--font-size-small);
  font-family: var(--font-family-accent);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: var(--outline-size) var(--color-outline)) or (-webkit-text-stroke: var(--outline-size) var(--color-outline)) {
  .image-wrap__label {
    -webkit-text-stroke: var(--outline-size) var(--color-outline);
    text-stroke: var(--outline-size) var(--color-outline);
    text-shadow: none;
  }
}

.card__image {
  max-width: var(--width-image);
  border-block: var(--border);
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 24px;
}

.card__paragraph {
  font-size: var(--font-size-medium);
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 8px;
}

.button {
  position: relative;
  text-align: center;
  padding: 16px 20px;
  border: var(--border);
  background-color: var(--background-color-card);
  font-size: var(--font-size-small);
  line-height: 90%;
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  padding: 0;
  background-color: var(--background-color-button);
  border: none;
  transition: outline 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.card__icon-button:focus-visible,
.card__icon-button:focus,
.button:focus-visible,
.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.card__icon-button:focus-visible {
  outline: var(--outline);
  outline-offset: 2px;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  position: relative;
  padding-block: 10px;
  inline-size: 130px;
  text-align: center;
}

.button__text {
  position: relative;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-small);
  color: var(--white);
  mix-blend-mode: difference;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}


/* like svg*/
.sparks {
  opacity: 0;
}

.contour {
  transition: fill linear 0.1s;
}

.main-body {
  transition: fill linear 0.3s;
}

.core {
  transition: fill linear 0.3s  0.03s;
}

.like-icon:hover .main-body {
  fill: var(--black);
  transition-delay: 0.03s;
}

.like-icon:hover .core {
  fill: var(--black);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--color-animation-fill);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--color-animation-fill);
  transition-delay: 0s;
}

/* клик на иконку */
.like-icon.is-liked .core {
  fill: var(--color-animation-fill);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-animation-fill);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--color-animation-fill);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in 1;
}

.like-icon.is-liked .heart {
  animation: increase 0.1s 0.3s ease-in 1;
  transform-origin: center;
}

.button_save {
  display: grid;
  column-gap: 8px;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
}

.button_close {
  grid-column: 1 / span 2;
  grid-row: 2;
  padding: 12px 20px;
  line-height: 90%;
}

.icon_floppy {
  grid-column: 1;
  inline-size: 21px;
  block-size: 21px;
  color: var(--white);
  mix-blend-mode: difference;
}

.button_save .button__text {
  grid-column: 2;
}

@media (width <= 375px) {
  .button_save {
    row-gap: 8px;
  }
  .icon_floppy {
    inline-size: 28px;
    block-size: 28px;
  }
  .button_save .button__text {
    grid-column: 1;
    grid-row: 2;
  }
}

.save-dialog {
  --dialog-inline-size: 352px;
  --dialog-block-size: 190px;

  overflow: hidden;
  inline-size: var(--dialog-inline-size);
  block-size: var(--dialog-block-size);
  padding-inline: 30px;
  padding-block: 30px;
  border: 2px solid var(--color-border);
}

.save-dialog[open] {
  display: grid;
  align-items: center;
  grid-template-columns: 40px 1fr;
  gap: 30px 20px;
}

.save-dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.save-dialog__icon  {
  grid-column-start: 1;
  grid-row-start: 1;
  inline-size: 40px;
  block-size: 40px;
}

.save-dialog__icon #floppy {
  width: 40px;
  height: 40px;
}

.save-dialog__paragraph {
  grid-column-start: 2;
  grid-row-start: 1;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  line-height: 150%;
}
