/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin-inline: var(--margin-inline-page);
  margin-block: var(--margin-block-page);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family-main);
  font-size: var(--font-size-medium);
  font-variation-settings: var(--font-weight-text);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  min-height: var(--min-height-card);
  margin-block-end: var(--margin-block-page);
  border: var(--border);
  background-color: var(--background-color-card);
  font-family: var(--font-family-accent);
}

.header__title {
  font-size: var(--font-size-huge);
}

.header__paragraph {
  font-size: var(--font-size-small);
  text-transform: uppercase;
}

.card {
  overflow-x: hidden;
  min-width: 371px;
  border: var(--border);
  background-color: var(--background-color-card);
}

.card__title {
  padding: 4px 10px;
  font-size: var(--font-size-medium);
}

.card__image {
  max-width: var(--width-image);
  border-block: var(--border);
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 24px;
}

.card__paragraph {
  font-size: var(--font-size-medium);
}

.card__like-button {
  position: relative;
  margin-left: auto;
  padding: 12px 36px;
  background-color: var(--background-color-card);
}

.button__text {
  font-family: var(--font-family-accent);
  font-size: var(--font-size-small);
}

.heart-icon {
  position: absolute;
  left: -40px;
  top: calc(50% - 12px);
  height: 24px;
  width: 26px;
}