:root {
    --black: #000;
    --rgb-black: 0, 0, 0;
    --white: #fff;
    --red: #ff0000;

    --color-main: var(--black);
    --color-text: var(--black);
    --color-outline: var(--white);
    --color-border: var(--black);
    --accent-color: rgba(var(--rgb-black), 0.6);

    --color-animation-fill: var(--red);
    /* Иконка сердца */
    --color-heart-contour: var(--black);
    --color-heart-main-body: transparent;
    --color-heart-core: transparent;
    --color-heart-sparks: var(--color-animation-fill);

    --font-family-main: 'Inter-Variable', Arial, sans-serif;
    --font-weight-text: 410;
    --font-weight-card-title: 715;

    --font-family-accent: 'PressStart2P', 'Trebuchet MS', sans-serif;
    --font-weight-accent: 400;
    --font-size-small: 14px;
    --font-size-medium: 18px;
    /* 49px -> 65px */
    --font-size-huge: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    /* 14px -> 23px */
    --font-size-large: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

    --background-image:
    repeating-linear-gradient(#d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(#e7e7e7 0, #e7e7e7 0.05%, #636363);

    --background-color-card: var(--white);
    --background-color-button: var(--white);

    --border: 2px solid var(--color-main);
    --outline: 2px solid var(--color-main);

    /* 0 -> 370px */
    --margin-inline-page: clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
    --margin-block-page: 100px;
    --margin-main: clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
    /* 122px -> 130px */
    --padding-block-header: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
    /* 40px -> 30px */
    --padding-inline-dialog: clamp(2.5rem, 2.7201rem + -0.939vw, 1.875rem);
    
    --outline-size: 1px;
    --width-image: clamp(23.25rem, 16.1197rem + 30.4225vw, 43.5rem);
}