:root {
    --color-main: #000;

    --font-family-main: 'Inter-Variable', Arial, sans-serif;
    --font-weight-text: 410;
    --font-weight-card-title: 715;

    --font-family-accent: 'PressStart2P', 'Trebuchet MS', sans-serif;
    --font-weight-accent: 400;
    --font-size-small: 14px;
    --font-size-medium: 18px;
    /* 49px -> 65px */
    --font-size-huge: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);

    --background-image: 
    repeating-linear-gradient(to right, #d3d3d3, transparent 2px),
    repeating-linear-gradient(to bottom, #d3d3d3, transparent 2px),
    repeating-linear-gradient(to bottom, #e7e7e7 0% 0.01%, #1a1a1a);

    --background-color-card: #fff;

    --border: 2px solid var(--color-main);

    /* 0 -> 370px */
    --margin-inline-page: clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
    --margin-block-page: 100px;
    --margin-main: clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
    
    /* 327px -> 368px*/
    --min-height-card: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
    --width-image: clamp(23.25rem, 16.1197rem + 30.4225vw, 43.5rem);
}